:root {
    --header-height: 91px;
    --menu-bg: #ffffff;
}

body {
    position: relative;
    margin: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    position: fixed;
    z-index: 10;
    top: 0;
    background: var(--menu-bg);
    box-shadow: 0px 2px 12px 4px #00000024;
}

main {
    padding-top: 120px;
}

header img {
    padding: 20px;
    width: 73px;
    max-width: 73px;
}

header svg {
    fill: #AA752A;
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: var(--header-height);
    left: 0;
    width: 100%;
    height: calc(100vh - 91px);
    background: var(--menu-bg);
}

nav a {
    text-decoration: none;
    padding: 10px;
    text-align: center;
}

.btn-toggle-menu {
    visibility: visible;
    margin: 20px;
    border: 0;
    background: transparent;
}

.main-nav-hidden {
    display: none;
}


@media (min-width: 950px) {
    nav {
        flex-direction: row;
        height: var(--header-height);
        align-items: center;
        padding-right:20px;
    }

    nav a {
        text-align: left;
    }

    .main-nav-hidden {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        position: static;
        width: 100%;
    }

    main {
        margin-top: var(--header-height);
    }

    .btn-toggle-menu {
        visibility: hidden;
    }

}