/* your styles will go here!! */

body {

}

main {
    max-width: 1200px;
    width:99%;
    margin: 0 auto ;
}


/* navigation */ 


nav a {
    color: #7DA001;
    text-decoration: none;
    font-family: Limelight;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px;;
    padding: 10px 30px;

}

nav a:hover, nav a:focus {
    text-decoration: underline;
    color: #7DA001;
}

/* Home page*/

.row {
    display: flex;
    flex-wrap: wrap;
}

.row div {
    padding-top: 50px;
}


img {
    max-width: 100%;
}
h2 {
    color: #7DA001;
    font-family: Limelight;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    margin: 0;
}


h3 {
    color: #7DA001;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Inria Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    color: #000;
    font-family: Inria Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* home page */

.home {
    /* padding: 70px; */
}

.bagelpic {
    max-width: 590px;
    width:100%;
    align-self: flex-start;
   
}
.title-subhead{
    font-size: 20px;
    display: block;
    color: #7DA001;
    font-family: Limelight;
}
.right-panel{


}
.row .right-panel{
    padding: 0px;
}
.hero-section{
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    
}