/* your styles will go here!! */

body {
    font-family: 'Inria Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 120px 20px;
}


/* navigation */ 


nav a {
    color: #7DA001;
    text-decoration: none;
    font-family: Limelight;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 40px;;
    padding: 10px 30px;

}

nav a:hover, nav a:focus {
    text-decoration: underline;
    color: #7DA001;
}

/* Home page*/

.black {
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.row div {
    padding-top: 50px;
}


iframe {
    width: 90%;
    max-width: 600px;
    height: 600px;
}
h2 {
    color: #7DA001;
    font-family: Limelight;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  
    margin: 0;
}


h3 {
    color: #7DA001;
    font-family: Inria Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4 {
    color: #000;
    font-family: Inria Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

h5 {
    color: #000;
    font-family: Inria Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* home page */

.home {
    /* padding: 70px; */
}

.bagelpic {
    max-width: 590px;
    width:100%;
    align-self: flex-start;
   
}
.title-subhead{
    font-size: 20px;
    display: block;
    color: #7DA001;
    font-family: Limelight;
}

.row .right-panel{
    padding: 0px;
}
.hero-section{
    flex-direction: row-reverse;
    gap: 50px;
    justify-content: center;
    
}

.grid-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;

    /* this is where you set spacing between the grid items */
    gap:20px;
}
.grid-item{
    width: 100px;
}
.grid-image-container{
    width: 100px;
    height: 100px;
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;



}
.grid-image-container img{
    max-width: 100px;
    max-height: 100px;
}


/* beverages*/

.bev-price {
    gap: 7px;
    margin-left: -23px;
    margin-right: -23px;
}

.bev-price .grid-item {
    text-align: center;
}

.bev .food-text-section {
    padding-top: 20px;
    padding-bottom: 50px;
}

/* this is where you style the text for the menu grid items */
.grid-item p{
    margin:0;
}

.food-text-section{
    max-width: 800px;
}

.food-text-section article p{
    margin: 5px;
}

.food-text-section article {
    margin: 10px;
}

footer {
    position: fixed;
    color: white;
    bottom: 0;
    width: 100vw;
    background:#7DA001;
    padding: 05px;
    text-align: center;

}

@media (min-width:750px) {
    .home .grid-container {
        flex-wrap: nowrap;
        width: 100%;
        margin-top: 40px;
    }

    iframe {
        width: 100%; 
        height: 450px;
        justify-content:center;

    }
}